.Header{
    background-image: url('https://images.squarespace-cdn.com/content/59d2ee09d55b4192001fe0ea/1545537911206-3I4ZC9NJH9UGPCLUHIHF/Ferrum+Logo+WHITE.png?format=1000w&content-type=image%2Fpng');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 450px 250px;;
    width: 100%;
    height: 50vh;
    background-color: #0c333c;    
    color: white;
}

.Header h2{
    text-transform: uppercase;
    font-size: 1.1em;
    color: white;
    line-height: 1;

}
.Header h3{
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    line-height: 1;
    padding-top: 300px;
}




