.Loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Loader {
    border: 16px solid #db3232;
    border-top: 16px solid #000000;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}